extends layout

block script
    script(src="/javascripts/admin.js")

block content
    h1.text-center Administration
    div.text-center
        a(href="/") Display Beer Board
    
    div.container
        table.table.table-dark
            thead
                tr
                    th(scope="col") Tap Number
                    th(scope="col") Beer
                    th(scope="col")
            tbody
                each tap in taps
                    tr
                        if tap["number"] < 4
                            td= tap["number"]
                        else
                            td Coming Soon
                        td
                            select(id="sel-tap-" + tap["id"]) 
                                each beer in beers 
                                    if tap["beer_id"] == beer["id"]
                                        option(selected="true", value= beer["id"])= beer["name"]
                                    else
                                        option(value= beer["id"])= beer["name"]
                        td(width="200")
                            span.text-success(id="alert-" + tap["id"], style="display: none;") Saved
    
    div.container
        table.table.table-dark
            thead
                tr
                    th(scope="col") Name
                    th(scope="col") Brewery
                    th(scope="col") Style
                    th(scope="col") SRM
                    th(scope="col") IBU
                    th(scope="col") ABV
                    th(scope="col")
            tbody
                each beer in beers
                    tr
                        td= beer["name"]
                        td= beer["brewery_name"]
                        td= beer["style"]
                        td= beer["srm"]
                        td= beer["ibu"]
                        td= beer["abv"]
                        td.text-right 
                            button.btn.btn-primary.btn-edit-beer(id="beer-id-" + beer["id"]) Edit
                    
