extends layout

block content
    include _navigation.pug

    div.container.col-sm-6.p-5.border.border-secondary.bg-dark
        h2 Edit Beer
        form(action="/admin/beers/save/" + beer["id"], method="post")
            div.form-group
                label(for="brewery_name") Brewery
                input.form-control(type="text", name="brewery_name", id="brewery_name", value=beer["brewery_name"])
            div.form-group
                label(for="name") Name
                input.form-control(type="text", name="name", id="name", value=beer["name"])
            div.form-group
                label(for="style") Style
                input.form-control(type="text", name="style", id="style", value=beer["style"])
            div.form-group
                label(for="description") Description
                textarea.form-control(name="description", id="description", rows="6")= beer["description"]
            div.form-row
                div.form-group.col-sm-4
                    label(for="srm") SRM
                    input.form-control(type="text", name="srm", id="srm", value=beer["srm"])
                div.form-group.col-sm-4
                    label(for="ibu") IBU
                    input.form-control(type="text", name="ibu", id="ibu", value=beer["ibu"])
                div.form-group.col-sm-4
                    label(for="abv") ABV (%)
                    input.form-control(type="text", name="abv", id="abv", value=beer["abv"])
            
            div.container
                div.row
                    div.col.text-left.p-0
                        a.btn.btn-danger(href="http:/admin/beers/delete/" + beer["id"]) Delete
                    div.col.text-right.p-0
                        a.btn.btn-warning.mr-3(href="http:/admin") Cancel
                        button.btn.btn-primary(type="submit") Save