extends layout

mixin tap(row)
    div.card.rounded.border-secondary
        div.card-header
            div.tap-number.display-4.bg-primary.rounded-circle.text-center.mb-3= row["tap_id"]
            h1.card-title= row["name"]
            h3.mb-4= row["brewery_name"] + " - " + row["style"]
            div.container-fluid.border.border-secondary.rounded.p-3
                div.row
                    div.col.text-center
                        div.srm-container
                            div.srm-indicator(style="background-color:" + convertSRM(row["srm"]) + ";")
                            div.srm-stroke
                        h4= row["srm"]
                    div.col.text-center 
                        img(src="/images/ibu/full.png")
                        h4= row["ibu"]
                    div.col.text-center 
                        //img(src="/images/abv/full.png")
                        h2= "ABV"
                        h2= row["abv"] + "%"
        div.card-body
            p.card-text= row["description"]

block content
    div.display-1.text-center.mb-5 Currently On Tap

    div.container-fluid
        div.card-deck
            each row in rows
                if row.tap_id < 4
                    +tap(row)
                else
                    div.col
                        div.text-center
                            img.mb-5(src="/images/logo.png")
                            h1.mb-5 Coming Next
                            h1= row["name"]
                            h3= row["brewery_name"] + " - " + row["style"]