extends layout

block content
    if taps
        h3= brewery_name
    h4= subtitle
    if taps
        table 
            thead
                    th Tap
                    th Name
                    th Style
                    th Description
                    th Bitterness
                    th Color
                    th Alcohol
            for tap in taps
                tr
                    td #{tap.number}
                    td #{tap.beer_name}
                    td #{tap.style}
                    td #{tap.description}
                    td #{tap.ibu}
                    td #{tap.srm}
                    td #{tap.abv}
